 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I work at the intersection of science and art, combining my creative skills with my in-depth knowledge of chemistry research. In addition to making illustrations, graphics and diagrams for academic publications, I am actively involved in scientific research itself. Scientists often struggle to communicate the abstract half-formed ideas brewing in their minds and by attempting to represent their thoughts in visual form, I generate a discussion that facilitates the refinement of new theories.
</p>
                </div>
                <div class="col-lg-4">
                    <p>Although my specialism lies in the representation of complex scientific ideas and research in visual form, I am also very keen to applying my skills beyond this. Please get in touch using the contact sheet below if you would like my input on a project.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
